run = "python3 bot.py"

[workflows]
runButton = "Ejecutar Bot Discord"

[[workflows.workflow]]
name = "Ejecutar Bot Discord"
author = 39659945
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"

[[workflows.workflow]]
name = "Bot con Poetry"
author = 39659945
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "poetry run python bot.py"
